/* Navbar Style */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 250px;
  background: #ffffff;
  height: min-content;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Title of navbar style */
.navTitle {
  font-weight: bolder;
}

/* Group of Nav Item Style */
.navItems {
  display: flex;
  list-style-type: none;
  gap: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.75);
}

/* Nav Item Style */
.navItems li {
  padding: 25px 10px;
  height: 100%;
  cursor: pointer;
}

.navItems li a {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
  height: 100%;
}

.navItems li:hover {
  background: #cccccc;
}

/* Dropdown Style */
.dropdown:hover .dropdownItems {
  display: block;
}
.dropdownItems {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: none;
  background: #ffffff;
  position: absolute;
  z-index: 9999999;
  list-style-type: none;
  margin-left: -10px;
  margin-top: 25px;
  width: fit-content;
}
.dropdownItems li {
  padding-right: 100px;
}
