.carousel {
  position: relative;
}

.carouselInner {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  transition: all 0.3s linear;
}

.carouselItem {
  width: 100vw;
  height: 95vh;
  overflow-y: hidden;
  position: relative;
}

.carouselCaption {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 50%;
  font-weight: 900;
  padding: 15px 10px;
  font-size: 40px;
  position: absolute;
  left: 10%;
  z-index: 99999999;
  bottom: 25%;
}

.carouselControls {
  position: absolute;
  top: 50%;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  align-items: center;
}

.prev,
.next {
  width: 60px;
  height: 60px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  border-radius: 9999px;
  color: white;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: 1px solid white;
}

.prev:hover,
.next:hover {
  background: white;
  color: black;
}

.carouselNav {
  position: absolute;
  bottom: 25px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 10px;
}

.carouselNav span {
  height: 24px;
  width: 24px;
  border-radius: 999999px;
  background: rgba(255, 255, 255, 0.25);
  cursor: pointer;
}

.active {
  background: rgba(255, 255, 255, 1) !important;
}
